<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./../stylesheets/main.css">
  <title>2FA | Dashboard</title>
</head>
<body>
  <form action="/logout" method="get" class="box centered-box">
    <p>You are now logged in.</p>
    <button type="submit">Logout</button>
  </form>
</body>
</html>
